services:
    CityRepository:
        class: Wame\LocationModule\Repositories\CityRepository
        inject: yes

    ContinentRepository:
        class: Wame\LocationModule\Repositories\ContinentRepository
        inject: yes

    RegionRepository:
        class: Wame\LocationModule\Repositories\RegionRepository
        inject: yes

    StateRepository:
        class: Wame\LocationModule\Repositories\StateRepository
        inject: yes


    # Events
    - {class: Wame\LocationModule\Events\UserModuleListener, tags: [run]}


    # Registers
    LocationRegister:
        class: Wame\LocationModule\Registers\LocationRegister


doctrine:
    metadata:
        Wame\LocationModule\Entities: %appDir%/../vendor/wame/LocationModule/entities