services:

	# Repositories
	- Wame\LocationModule\Repositories\AddressRepository
	- Wame\LocationModule\Repositories\ContinentRepository
	- Wame\LocationModule\Repositories\StateRepository


	# Events
	- {class: Wame\LocationModule\Events\UserModuleListener, tags: [run]}


	# Factories
	- Wame\LocationModule\Forms\IAddressFormContainerFactory


	# Sign up form
	SignUpForm:
		setup:
			- addFormContainer(Wame\LocationModule\Forms\AddressFormContainer(), 'AddressFormContainer')

	# Create user form in administration
	CreateUserForm:
		setup:
			- addFormContainer(Wame\LocationModule\Forms\AddressFormContainer(), 'AddressFormContainer')

	# Update user form in administration
	EditUserForm:
		setup:
			- addFormContainer(Wame\LocationModule\Forms\AddressFormContainer(), 'AddressFormContainer')


doctrine:
	metadata:
		Wame\LocationModule\Entities: %appDir%/../vendor/wame/LocationModule/entities