{if $address}
    {$address->getStreet()} {$address->getHouseNumber()}
    
    {if $address->getCity()}
        {$address->getCity()->getZipCode()}
        {$address->getCity()->getTitle()}
    {/if}
    
    {if $address->getState()}
        {$address->getState()->getTitle()}
    {/if}
{/if}